@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Jasper Green is a family-owned, homegrown lawn care business based out of College Station.
    What began as a side-venture for Jasper Jones' IPhone fund has since morphed into a 15 employee,
    250 customer strong enterprise that has expanded beyond the borders of College Station to the 
    greater Brazos County region. Whatever your lawn care needs may be, Jasper Green and co. are the
    right people for the job, combining quality of work with affordability and the accessibility of
    a small business. Call, email, or visit our College Station office today if you have any questions!
</p>
