@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<div class="contact">
    <ul>
        <li>Email: <a href="mailto:help@jaspergreen.com">help@jaspergreen.com</a></li>
        <li>Phone: (979) 454-0000</li>
        <li>Address: 123 Brazos Rd, College Station, TX</li>
        <li>Walk-in Hours: 9am-5pm, Mon-Sun</li>
    </ul>
</div>