@model Employee
@{
    string title = ViewBag.Action + " Employee";
    ViewBag.Title = title;
    Model.HireDate = DateTime.Now;
}

@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

    <h1>@ViewBag.Title</h1>

    <form asp-action="Save" method="post">

        <div class="row form-group">
            <label asp-for="EmployeeFirstName" class="col-sm-3">First Name</label>
            <div class="col-sm-6">
                <input asp-for="EmployeeFirstName" class="form-control">
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="EmployeeFirstName" class="text-danger"></span> @*puts validation message at side of the respective field*@
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="EmployeeLastName" class="col-sm-3">Last Name</label>
            <div class="col-sm-6">
                <input asp-for="EmployeeLastName" class="form-control">
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="EmployeeLastName" class="text-danger"></span> @*puts validation message at side of the respective field*@
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="SSN" class="col-sm-3">SSN</label>
            <div class="col-sm-6">
                <input asp-for="SSN" class="form-control">
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="SSN" class="text-danger"></span> @*puts validation message at side of the respective field*@
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="JobTitle" class="col-sm-3">Job Title</label>
            <div class="col-sm-6">
                <input asp-for="JobTitle" class="form-control">
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="JobTitle" class="text-danger"></span> @*puts validation message at side of the respective field*@
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="HireDate" class="col-sm-3">Hire Date</label>
            <div class="col-sm-6">
                <input asp-for="HireDate" class="form-control">
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="HireDate" class="text-danger"></span> @*puts validation message at side of the respective field*@
            </div>
        </div>
        <div class="row form-group">
            <label asp-for="HourlyRate" class="col-sm-3">Hourly Rate</label>
            <div class="col-sm-6">
                <input asp-for="HourlyRate" class="form-control">
            </div>
            <div class="col-sm-6">
                <span asp-validation-for="HourlyRate" class="text-danger"></span> @*puts validation message at side of the respective field*@
            </div>
        </div>

        <input type="hidden" asp-for="EmployeeID" />

        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="EmployeeList" class="btn btn-primary">Cancel</a>
    </form>
    @*css styling for boxes with validation errors*@
    <style>
        .input-validation-error {
            border: 2px solid #dc3545;
            background-color: #faebd7;
        }

        .validation-summary-valid {
            display: none;
        }

        .validation-summary-errors ul {
            list-style: none;
        }
    </style>
