@model Employee
@{
    ViewBag.Title = "Delete Employee";
}

<div class="jumbotron alert-danger mt-4">
    <h1>Confirm Deletion</h1>
    <p>Are you sure you want to delete '@Model.EmployeeFirstName @Model.EmployeeLastName'?</p>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="EmployeeID" />

        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-action="EmployeeList" class="btn btn-primary">Cancel</a>
    </form>
</div>

